.fagomraader {

  header {
    // color: lightgreen;
    text-align: center;
  }

  section {
    margin: auto;
    width: 95%;
    font-size: large;
  }

  h1, h3 {
    color: $color-pri-green;
  }

  img {
    width: 100%;
    height: auto;
  }

  button {
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
  }

  button img {
    width: 50%;
    height: 50%;
  }

  /*.search {
    // background: lightblue;
    width: 95%;
    display: flex;
  }*/
  /*.search img {
    width: 10%;
    height: 10%;
  }*/
  /*input {
    width: 85%;
    margin-left: 5%;
    font-size: larger;
    border: 1px solid lightgreen;

    height: auto;
  }*/

  .topic {
    display: flex;
    margin-top: 10px;
  }
  // view is images
  .view {
    width: 20%;
  }

  // words is description text
  .words {
    width: 70%;
    border: 1px solid blueviolet;
    padding: 5px;
  }



  /*.spil img {
    width: 90%;
    height: auto;
    // border: 1px solid blue;
    overflow: hidden;
  }*/



  // spil on håndværker
  /*.spil_om_haandvaerker {
    display: flex;
    flex-wrap: wrap;
  }*/

  /*.one {
    width: 45%;
    margin: 1%;
    height: auto;

  }*/

  .right_arrow {
    float: right;
  }




}