
.mainForside{
  nav{
    padding-top: 1rem;
    a{
      background-color: $color-pri-green;
      text-decoration: none;
      color: $color-pri-white;
      width: 90%;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 1.5rem auto;
      box-shadow: 5px 4px 8px 0px rgba(0,0,0,0.25);
      font-size: 1.5rem;
      img{
        height: 35px;
        width: auto;
        margin-right: 0.6rem;
      }
      p{
        margin: 1.2rem
      }
    }
  }
}