.mainPronominerOevelser{
  h1 {
    text-align: center;
    color: $color-pri-green
  }
  .pronominerOevelse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    p{
      margin: 0;
      font-size: 0.9rem;
    }
    form {
      width: 60px;
      margin: 0 10px;
      input {
        width: 50px;
        border: 1px solid $color-pri-green;
      }
    }
  }
}