
// ----------VARIABLER---------

// ---------Farver---------
$color-pri-black: #333333;
$color-pri-darkblue: #2B2D5C;
$color-pri-lightblue: #9AE6D7;
$color-pri-green: #7DD7AA;
$color-pri-white: #FFFFFF;

// ---------Font---------
$font-primary: 'Ubuntu', sans-serif;


h1{
  font-family: $font-primary;
  font-weight: 500;
}
h2{
  font-family: $font-primary;
  font-weight: 500;
}
h3{
  font-family: $font-primary;
  font-weight: 500;
}
h4{
  font-family: $font-primary;
  font-weight: 500;
}
h5{
  font-family: $font-primary;
  font-weight: 500;
}
p{
  font-family: $font-primary;
  font-weight: 300;
}
a{
  font-family: $font-primary;
  font-weight: 300;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}